<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Fake news Detection</title>
  </head>
  <body class="bg-amber-100">
    <header class="text-gray-600 body-font -my-8">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-yellow-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <a href="/"  style="font-weight:bold; color: #F59B0E;" class="ml-3 text-xl">Fake News Detection </a>
          </a>
          <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a href= '/' style="font-weight:bold; color: #F59B0E;"   class="mr-5 hover:text-gray-900"> HOME</a>
            <a href="#footer" style="font-weight:bold; color: #F59B0E;" class="mr-5 hover:text-gray-900">ABOUT US</a>
            <a href="/prediction" style="font-weight:bold; color: #F59B0E;" class="mr-5 hover:text-gray-900">PREDICTION</a>
            <a href="/contactus" style="font-weight:bold; color: #F59B0E;" class="mr-5 hover:text-gray-900">KNOW MORE</a>
          </nav>
          <!-- <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Button
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button> -->
        </div>
      </header> <hr>

      <section class="text-gray-600 body-font my-40">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
          <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
            <h1  style="font-weight:bold; color: #F59B0E;"class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">FAKE NEWS DETECTION<h1>
           <h5  class="title-font xt-4xl text-3xl mb-4 font-medium ">MACHINE LEARNING PROJECT            </h5>
            <p  class="flex justify-center"class="mb-8 leading-relaxed">In recent years, due to the booming developments of online web-based media, a large group of fake news for different business and political reasons for existing, is rising and spreading in the online world. In deluding terms, online web-based media clients can without much of a stretch get tainted with this fake online news, which has just tremendously affected the disconnected network. From a higher-level perspective, the tasks of fake news article, creator and subject detection are highly correlated, since the articles written from a trustworthy person should have a higher credibility, while the person who frequently posting unauthentic information will have a lower credibility on the other hand.</p>
            <div class="flex justify-center">
             <a href="/prediction">  <button class="inline-flex text-white bg-yellow-500 border-0 py-2 px-6 focus:outline-none hover:bg-yellow-600 rounded text-lg">Prediction</button></a>
              
            </div>
          </div>
          <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
            <img class="object-cover object-center rounded" alt="hero" src="/static/img.svg.svg">
          </div>
        </div>
      </section>
      
      <section class="text-gray-600 body-font my-20">
        <div class="container px-5 py-24 mx-auto">
          <h1 style="font-weight:bold; color: #F59B0E;"  class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">Testimonials</h1>
          <div class="flex flex-wrap -m-4">
            <div class="p-4 md:w-1/2 w-full">
              <div class="h-full bg-gray-100 p-8 rounded">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
                  <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
                </svg>
                <p class="leading-relaxed mb-6">To trust a detection system, we need to understand it first. The ideal scenario would be to display the actual factors that contributed to the final result. However, when deep learning models are used, it is very challenging. These models consist of millions of simple calculations, so unless they can be described in a human interpretable way, they will be considered as black boxes. Therefore, Explainable AI in computer vision must be a research priority to make the results of these algorithms interpretable not only for their developers but their users too.</p>
                <a class="inline-flex items-center">
                  <img alt="testimonial" src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/qkgxwbblkk37btrnraob" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                  <span class="flex-grow flex flex-col pl-4">
                    <span class="title-font font-medium text-gray-900">Dominik Mate Kovacs</span>
                    <span class="text-gray-500 text-sm">CPO & Co-Founder at Colossyan </span>
                  </span>
                </a>
              </div>
            </div>
            <div class="p-4 md:w-1/2 w-full">
              <div class="h-full bg-gray-100 p-8 rounded">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
                  <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
                </svg>
                <p class="leading-relaxed mb-6">The technologies could launch a new era of fake news and online misinformation.AI has many ethical problems. But sometimes it can also be the solution. You can use AI in unethical ways to for example make and spread fake news, but you can also use it to do good, for example, to combat misinformation.</p>
                <a class="inline-flex items-center">
                  <img alt="testimonial" src="http://wire16.frascatiscienza.it/media/k2/items/cache/ba0166c7a50d96eb270097f3f911e08a_M.jpg" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                  <span class="flex-grow flex flex-col pl-4">
                    <span class="title-font font-medium text-gray-900">Francesco Nucci</span>
                    <span class="text-gray-500 text-sm">Applications research director at the Engineering Group, based in Italy.</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="text-gray-600 body-font my-20">
        <div class="container px-5 py-24 mx-auto">
          <h1  style="color: #F59B0E;"  class="sm:text-3xl text-2xl font-medium title-font text-center text-gray-900 mb-20"> Fake News Detection Research 
            <br  style="  color: #000;" class="hidden sm:block"> Related-Work
          </h1>
          <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
            <div class="p-4 md:w-1/3 flex">
              <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 mb-4 flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                  <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                </svg>
              </div>
              <div class="flex-grow pl-6">
                <h2  style="color: #F59B0E;" class="text-gray-900 text-lg title-font font-medium mb-2">Fake News Early Detection: A Theory-driven Model.</h2>
                <p class="leading-relaxed text-base">Zhou et al, Jain et al, Phoha et al and Zafarani et al aimed to develop a theory-driven fake news detection model which concentrates on news content to detect earlier before it has been propagated on social media platforms. Their model represents the news by sets of features, capturing both structural and style language and using these features they built a machine learning model using supervised learning. The experimental result based on real-world dataset achieved the accuracy of 88%</p>
                <a  href ="https://dl.acm.org/doi/pdf/10.1145/3377478" target="_blank" class="mt-3 text-yellow-500 inline-flex items-center">Learn More
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="p-4 md:w-1/3 flex">
              <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 mb-4 flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                    <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                  </svg>
                </svg>
              </div>
              <div class="flex-grow pl-6">
                <h2 style="color: #F59B0E;" class="text-gray-900 text-lg title-font font-medium mb-2">Fake News Detection on Social Media: A Data Mining Perspective</h2>
                <p class="leading-relaxed text-base">Shu et al, Sliva et al Wang et al, Tang et al and Liu et al, In their paper to detect fake news on social media, a data mining perspective is presented that includes the characterization of fake news in psychology and social theories. There are two main factors that account for the widespread acceptance of fake messages by the user, which are naive realism and confirmatory bias. It proposes a general two-phase data mining framework that includes 1) feature extraction and 2) modelling, analysing data sets, and confusion matrix for identifying fake news.</p>
                <a  href="https://www.researchgate.net/publication/318981549_Fake_News_Detection_on_Social_Media_A_Data_Mining_Perspective" target="_blank" class="mt-3 text-yellow-500 inline-flex items-center">Learn More
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="p-4 md:w-1/3 flex">
              <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 mb-4 flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                    <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                  </svg>
              </div>
              <div class="flex-grow pl-6">
                <h2 style="color: #F59B0E;" class="text-gray-900 text-lg title-font font-medium mb-2">Fake News or Truth? Using Satirical Cues to Detect Potentially Misleading News.</h2>
                <p class="leading-relaxed text-base">Rubin et al, Conroy et al, Chen et al and Cornwell et al, Proposed a ML model using SVM algorithm using five predictive features - Absurdity, Grammar Humour, Negative Affect and punctuations on number of news articles. The paper result reaches relatively high accuracy rate 87% by translating theories of humour, irony and satire into predictive method</p>
                <a  href="https://aclanthology.org/W16-0802.pdf" target=”_blank” class="mt-3 text-yellow-500 inline-flex items-center">Learn More
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
<hr>
      <footer id="footer" class="text-gray-600 body-font -my-8">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
          <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-yellow-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span style="font-weight:bold; color: #F59B0E;"  class="ml-3 text-xl">Fake News Detection</span>
          </a>
          <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"> Final Project 
            <a href="https://twitter.com/knyttneve" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank"></a>
          </p>
          <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
            <a class="text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500">
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                <circle cx="4" cy="4" r="2" stroke="none"></circle>
              </svg>
            </a>
          </span>
        </div>
      </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>